In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [19]:

import os 

cwd  = os.getcwd()

lk = os.listdir(cwd)

lk = [i for i in lk   if i.endswith(".csv")]

print(lk)

import time 
time.sleep(2)

df = pd.read_excel('./spider.xlsx')

['commentsandrate.csv', 'imdbdataset.csv']

In [20]:
df
df.head()
df

,Titre,Text
0,"Iconic, Electrifying, Classy, Vibrant, and Em...",The world of movie superheroes began with Supe...
1,Spider-Man (2002) - With Great Power Comes Gr...,Considered as one of the most successful super...
2,One of the best movies of the year!!!\n,Spider-Man is seriously the best movie of the ...
3,Way better than the recent reboots\n,"Really good movie, I enjoyed the whole Trilogy..."
4,Pre MCU\n,Before the Marvel Cinematic Universe was launc...
...,...,...
145,So good!\n,This Spider-Man series is definitely the best ...
146,No One Remembers the 1970's Nicholas Hammond ...,My brothers and I never could figure out why s...
147,Amazing Spider-Man\n,I don't have much to say about this over what'...
148,The origin of Spiderman\n,This movie was really awesome I remember watch...
149,I really like this film\n,Willem Dafoe is really a good actor and Toby M...

In [21]:
# step 1: removing html tags

import re #pacakage qui contient les deux fonctions
def remove_html(text): #fonction qui s'appelle remove_html
    text = str(text)
    clean = re.compile('<.*?>') #supprime tous les catactéres spéciaux ente les deux <>
    #c'est une liste qui contient tous les mots html
    return re.sub(clean, '', text)

In [22]:
df['Text'] = df['Text'].apply(remove_html)

In [23]:
df['Text']

0      The world of movie superheroes began with Supe...
1      Considered as one of the most successful super...
2      Spider-Man is seriously the best movie of the ...
3      Really good movie, I enjoyed the whole Trilogy...
4      Before the Marvel Cinematic Universe was launc...
                             ...
145    This Spider-Man series is definitely the best ...
146    My brothers and I never could figure out why s...
147    I don't have much to say about this over what'...
148    This movie was really awesome I remember watch...
149    Willem Dafoe is really a good actor and Toby M...
Name: Text, Length: 150, dtype: object

In [8]:
#step 2: converting to lowercase

def lower_text(text):
    
    if(type(text)  ==  type('str')):
        return text.lower() #lower c'est une fonction prédifinie
    return str(text)

In [9]:
df['review'] = df['review'].apply(lower_text)

In [10]:
df["review"]

0        one of the other reviewers has mentioned that ...
1        a wonderful little production. the filming tec...
2        i thought this was a wonderful way to spend ti...
3        basically there's a family where a little boy ...
4        petter mattei's "love in the time of money" is...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot, bad dialogue, bad acting, idiotic di...
49997    i am a catholic taught in parochial elementary...
49998    i'm going to have to disagree with the previou...
49999    no one expects the star trek movies to be high...
Name: review, Length: 50000, dtype: object

In [16]:
#step 3: removing special characters
#text= az2ssx%VH/JBJH

def remove_special_char(text):
    x = ""

    for i in text:
        if i.isalnum():
            x = x+i
        else:
            x = x+ " "
    return x

In [17]:
df['review'] = df['review'].apply(remove_special_char)

In [18]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production  the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there s a family where a little boy ...  negative
4      petter mattei s  love in the time of money  is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot  bad dialogue  bad acting  idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i m going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [19]:
#step 4: removing stop words example is, are, am etc
! pip install  -U nltk

Requirement already satisfied: nltk in c:\users\maison info\desktop\webscrapping20\uyioo-main\env\lib\site-packages (3.8.1)

[notice] A new release of pip is available: 23.1.2 -> 23.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: click in c:\users\maison info\desktop\webscrapping20\uyioo-main\env\lib\site-packages (from nltk) (8.1.6)
Requirement already satisfied: joblib in c:\users\maison info\desktop\webscrapping20\uyioo-main\env\lib\site-packages (from nltk) (1.3.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\maison info\desktop\webscrapping20\uyioo-main\env\lib\site-packages (from nltk) (2023.6.3)
Requirement already satisfied: tqdm in c:\users\maison info\desktop\webscrapping20\uyioo-main\env\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\maison info\desktop\webscrapping20\uyioo-main\env\lib\site-packages (from click->nltk) (0.4.6)

In [20]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\maison
[nltk_data]     info\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [21]:
def remove_stopwords(text):
    x = []
    for i in text.split(): #return une liste qui contient des mots séparé par espace
        if i not in stopwords.words("english"):
            x.append(i)
    y = x[:]
    x.clear()
    return y

In [22]:
df['review'] = df['review'].apply(remove_stopwords)

In [23]:
df['review']

0        [one, reviewers, mentioned, watching, 1, oz, e...
1        [wonderful, little, production, filming, techn...
2        [thought, wonderful, way, spend, time, hot, su...
3        [basically, family, little, boy, jake, thinks,...
4        [petter, mattei, love, time, money, visually, ...
                               ...
49995    [thought, movie, right, good, job, creative, o...
49996    [bad, plot, bad, dialogue, bad, acting, idioti...
49997    [catholic, taught, parochial, elementary, scho...
49998    [going, disagree, previous, comment, side, mal...
49999    [one, expects, star, trek, movies, high, art, ...
Name: review, Length: 50000, dtype: object

In [24]:
#step 5: stemming

from nltk.stem.porter import PorterStemmer

In [25]:
ps = PorterStemmer()

In [26]:
y = []
def stemming_text(text):
    for i in text:
        y.append(ps.stem(i))
    z = y[:]
    y.clear()
    return z

In [27]:
df['review'] = df['review'].apply(stemming_text)

In [28]:
df["review"]

0        [one, review, mention, watch, 1, oz, episod, h...
1        [wonder, littl, product, film, techniqu, unass...
2        [thought, wonder, way, spend, time, hot, summe...
3        [basic, famili, littl, boy, jake, think, zombi...
4        [petter, mattei, love, time, money, visual, st...
                               ...
49995    [thought, movi, right, good, job, creativ, ori...
49996    [bad, plot, bad, dialogu, bad, act, idiot, dir...
49997    [cathol, taught, parochi, elementari, school, ...
49998    [go, disagre, previou, comment, side, maltin, ...
49999    [one, expect, star, trek, movi, high, art, fan...
Name: review, Length: 50000, dtype: object

In [29]:
def join_back(texts):    #fonction qui conveti la liste en chaine
    return " ".join(texts)

In [30]:
df['review'] = df['review'].apply(join_back)

In [31]:
#step6: Remove any rows with missing data, such as reviews with no text or labels with missing sentiment
df.dropna(inplace=True)

In [66]:
df["review"]

0        one review mention watch 1 oz episod hook righ...
1        wonder littl product film techniqu unassum old...
2        thought wonder way spend time hot summer weeke...
3        basic famili littl boy jake think zombi closet...
4        petter mattei love time money visual stun film...
                               ...
49995    thought movi right good job creativ origin fir...
49996    bad plot bad dialogu bad act idiot direct anno...
49997    cathol taught parochi elementari school nun ta...
49998    go disagre previou comment side maltin one sec...
49999    one expect star trek movi high art fan expect ...
Name: review, Length: 50000, dtype: object

In [32]:
# Check for duplicates
duplicates = df.duplicated()
num_duplicates = duplicates.sum()
print('Number of duplicates:', num_duplicates)

Number of duplicates: 427

In [33]:
#step7: Remove duplicates
df = df.drop_duplicates()

In [34]:
# Check for duplicates
duplicates = df.duplicated()
num_duplicates = duplicates.sum()
print('Number of duplicates:', num_duplicates)

Number of duplicates: 0

In [35]:
df["review"]

0        one review mention watch 1 oz episod hook righ...
1        wonder littl product film techniqu unassum old...
2        thought wonder way spend time hot summer weeke...
3        basic famili littl boy jake think zombi closet...
4        petter mattei love time money visual stun film...
                               ...
49995    thought movi right good job creativ origin fir...
49996    bad plot bad dialogu bad act idiot direct anno...
49997    cathol taught parochi elementari school nun ta...
49998    go disagre previou comment side maltin one sec...
49999    one expect star trek movi high art fan expect ...
Name: review, Length: 49573, dtype: object

In [36]:
# Save the cleaned dataset to a new CSV file
df.to_csv('cleaned_dataset_imdb50k.csv', index=False)

In [37]:
df["review"]

0        one review mention watch 1 oz episod hook righ...
1        wonder littl product film techniqu unassum old...
2        thought wonder way spend time hot summer weeke...
3        basic famili littl boy jake think zombi closet...
4        petter mattei love time money visual stun film...
                               ...
49995    thought movi right good job creativ origin fir...
49996    bad plot bad dialogu bad act idiot direct anno...
49997    cathol taught parochi elementari school nun ta...
49998    go disagre previou comment side maltin one sec...
49999    one expect star trek movi high art fan expect ...
Name: review, Length: 49573, dtype: object